{
  "project": "AMG-${repo}",
  "team": "/CxServer/CxFlow/Automation",
  "customFields": {
    "key1": "keyvalue1",
    "key2": "keyvalue2"
  },
  "sast": {
    "incremental": "false"
   },
   "additionalProperties:" {
    "cimpressprops": {
      "mypropv": "mypropvalue"
    },
    "cxflow": {
      "application": "myappli"
    }
  }
}
