<h1>Upload your profile picture</h1>

<form asp-action="UploadImage" method="POST" enctype="multipart/form-data">
    <fieldset>
        <input type="file" name="file">
        <input type="submit" value="upload" id="upload">
    </fieldset>
</form>