<h1>Upload your Contacts XML file for improt</h1>

<form asp-action="preview" method="POST" enctype="multipart/form-data">
    <fieldset>
        <input type="file" name="file">
        <input type="submit" value="upload" id="upload">
    </fieldset>
</form>